{% extends 'base.html.twig' %}

{% block body %}

    <div class="text-center">
        <h1>Скидки і накрутки </h1>
        
        <a href="{{ path('percent_edit', { 'id': percent.id }) }}"><button type="submit" class="ui-button ui-corner-all ui-widget">Редагувати</button></a><br/><br/>
    </div>
    
    <div class="text-marning">

        Накрутка для користувача (роздріб) : <b>{{ percent.cheat | raw}} %</b><br/>
        Знижка для користувача (банер знижки): <b>{{ percent.percent | raw}} %</b><br/>

        <br/>
        <div style="color: green">
            Накрутка для оптовика: <b>{{ percent.cheatWholesaler | raw}} %</b><br/>
            Знижка для оптовика (банер знижки): <b>{{ percent.percentWholesaler | raw}} %</b><br/>
        </div>

        <br/>
        <div style="color: #0000cc">
            Накрутка для Дропшиперa: <b>{{ percent.cheatDropshipper | raw}} %</b><br/>
            Знижка для Дропшиперa (банер знижки): <b>{{ percent.percentDropshipper | raw}} %</b><br/>
        </div>

    </div>        
    <br/><br/><br/><br/>  

{% endblock %}
