<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#" xml:lang="pl" lang="pl" dir="ltr" prefix="og: http://ogp.me/ns#">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="description" content="Найкращі якісні амортизатори, спіральні пружини, керуючі озброєння та гальма" />
        <meta name="keywords" content="Амортизатор, Стоссдамппер, Амортизатори, Амортиссір, Амортигудор, Амортидзор, Аммортизатор" />

        <link type="text/css" rel="stylesheet" href="/css/ben.css" />
        <link href="/css/jquery-ui.css" rel="stylesheet" />

        <title>{% block title %}Найкраща якість автозапчастин!{% endblock %}</title>

        <script language="JavaScript" src="/js/qTip.js" type="text/JavaScript"></script>
        <script language="JavaScript" src="/js/jquery.min.js" type="text/JavaScript"></script>
        <script language="JavaScript" src="/js/jquery-ui.js" type="text/JavaScript"></script>
        
        <!--<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />-->
        <!--<script language="JavaScript" src="/js/bootstrap.min.js" type="text/JavaScript"></script>-->
        
    {% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}

<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

</head>
<body>

    <div id="container">
        <img src="/img/background.png" class="background">

            <!--languages-->

            <div style="height: 40px;"></div>

            <!--logo-->

            <a href=""><img src="/img/gh_logo.png" class="logo"></a>
            <div class="slog">ваш постачальник рішень підвіски</div>

            <!--menu-->

            <ul id="nav">
                <li><a href="{{ path('shop_about') }}"><div class="menu"><div class="menu-text">Про нас</div></div></a></li>
                <li><a href="{{ path('products_index') }}"><div class="menu"><div class="menu-text">Продукція</div></div></a></li>
                <li><a href="{{ path('shop_menu_homepage') }}"><div class="menu"><div class="menu-text">Каталоги</div></div></a></li>
                {% if app.user and app.user.role == 'ROLE_ADMIN' %}
                    <li><a href="{{ path('admin_homepage') }}"><div class="menu"><div class="menu-text">Адінка</div></div></a></li>
                {% endif %}
                <li><a href="{{ path('shop_сontact') }}"><div class="menu"><div class="menu-text">Контакти</div></div></a></li>
                {% if app.user %}
                    <li><a href="{{ path('security_user_logout') }}"><div class="menu"><div class="menu-text">Вихід</div></div></a></li>
                {% else %}
                    <li><a href="{{ path('security_user_login') }}"><div class="menu"><div class="menu-text">Вхід</div></div></a></li>
                {% endif %}

            </ul>

            <div id="desc_out">
                <!--description-->

                <div id="desc_in">
                    
                <!-- left - main text-->

                    {% block body %}{% endblock %}
                    <!--INSERT MAIN TEXT-->

                <!--end left-->

            </div>
        </div>
</div>


<div align="center" class="copyright">
    <hr width="225px">
        Copyright © 2017.
</div>

</body>
</html>
