{% block body %}

<h1>Перезвоніть мені !</h1>
<h2>Ім'я: {{ call_name |striptags}}</h2>
<h2>Телефон: {{ call_mob |striptags}}</h2>
<h2>VIN-код автомобіля: {{ call_vin |striptags}}</h2>
<h2>Зручний час: {{ call_time_b|striptags }} - {{ call_time_e|striptags }}</h2>

<h2>Сторона: {{ storona|striptags }}</h2>
<h2>Тип запчастини: {{ zapcastina|striptags }}</h2>

{% endblock %}
