{% extends 'base.html.twig' %}

{% block title %}Каталог продукції Амортизатори, Пружини, Поперечниі важілья{% endblock %}
{% block description %}Каталог продукції Амортизатори, Пружини, Поперечниі важілья{% endblock %}

{% block body %}

    <div id="desc_in_left">
        <img src="./img/str_fr.png" id="str_fr"><img src="./img/str_long.png" id="str_long">
        <div class="str_slog">Офіційний представник GH в Україні</div>

        <center>

            <h1>Каталог продукції</h1>

            <form id="form_serch" method="GET">
                <h3>Код GH пошук: <input type="text" name="serch" id="datepicker" class="cat"/> <samp
                            class="ui-icon ui-icon-search" style="cursor:pointer;" id="serch_btn"></samp></h3>
            </form>

            <form id="form_item" method="GET">
                <select name="mid" id="mid" class="cat">
                    <option value="0" {{ model_id == 0  ? 'selected=""' : '' }}>Вибрати</option>
                    {% for modelMenu in modelMenus %}
                        <option value="{{ modelMenu.id }}" {{ model_id == modelMenu.id  ? 'selected=""' : '' }}>
                            {{ modelMenu.name }}
                        </option>
                    {% endfor %}
                </select>

                <select name="aid" id="aid"
                        class="cat" {{ model_id == 0  ? 'disabled="" style="background: transparent;"' : '' }}>
                    <option value="0" {{ auto_id == 0  ? 'selected=""' : '' }}>Вибрати</option>
                    {% for auto in autoMenu %}
                        <option value="{{ auto.id }}" {{ auto_id == auto.id  ? 'selected=""' : '' }}>
                            {{ auto.name }}
                        </option>
                    {% endfor %}
                </select>

                <select name="did" id="did"
                        class="cat" {{ auto_id == 0  ? 'disabled="" style="background: transparent;"' : '' }}>
                    <option value="0" {{ data_id == 0  ? 'selected=""' : '' }}>Вибрати</option>
                    {% for data in dataMenu %}
                        <option value="{{ data.id }}" {{ data_id == data.id  ? 'selected=""' : '' }}>
                            {{ data.name }}
                        </option>
                    {% endfor %}
                </select>
                <br>

                <br>
                <table border="0" style="text-align:center">
                    <tbody>
                    <tr>
                        <td><img style="cursor:pointer;" src="{{ s1  ? '/img/front_on.png' : '/img/front_off.png' }}"
                                 id="si1"></td>
                        <td><img style="cursor:pointer; border-left: solid"
                                 src="{{ s2  ? '/img/back_on.png' : '/img/back_off.png' }}" id="si2"></td>
                        <td width="30"></td>
                        <td><img align="left" src="{{ t1  ? '/img/shock_on.png' : '/img/shock_off.png' }}"
                                 style="cursor:pointer;" id="ti1"></td>
                        <td style="width: 90px;"><img align="left"
                                                      src="{{ t2  ? '/img/coil_on.png' : '/img/coil_off.png' }}"
                                                      style="cursor:pointer; border-left: solid;" id="ti2"></td>
                        <td><img align="left" src="{{ t3  ? '/img/arm_on.png' : '/img/arm_off.png' }}"
                                 style="cursor:pointer; border-left: solid;" id="ti3"></td>
                    </tr>

                    <tr>
                        <td style="font-size:11px">
                            передня <input type="checkbox" name="s1" id="s1" value="1" {{ s1  ? 'checked=""' : '' }}>
                        </td>
                        <td style="font-size:11px">
                            задня <input type="checkbox" name="s2" id="s2" value="2" {{ s2  ? 'checked=""' : '' }}>
                        </td>
                        <td></td>
                        <td>Амортизатор
                            <input type="checkbox" name="t1" id="t1" value="1" {{ t1  ? 'checked=""' : '' }}>
                        </td>
                        <td>Пружина
                            <input type="checkbox" name="t2" id="t2" value="2" {{ t2  ? 'checked=""' : '' }}>
                        </td>
                        <td>Ричаг
                            <input type="checkbox" name="t3" id="t3" value="4" {{ t3  ? 'checked=""' : '' }}>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </form>

            <br><br>
            <!-- WYNIKI -->

            {% if IsSerch or model_id and auto_id and data_id %}

                <div class="navigation">
                    {{ knp_pagination_render(ItemsArray) }}
                </div><br/>

                <table border="0" class="catalog">
                    <tbody>
                    <tr>
                        <td><b>Код GH</b></td>
                        <td><b>Сторона</b></td>
                        <td><b>Застосування</b></td>
                        <td><b>Ціна</b></td>
                        <td><b>Фото</b></td>
                        <td><b>Аксесуари</b></td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <hr>
                        </td>
                    </tr>

                    {% for Item in ItemsArray %}

                        <tr>
                            <td>
                                <span class="item{{ Item.id }}code">{{ Item.name | raw }}</span>
                                <a href="#" class="item_dialog" val="item{{ Item.id }}">
                                    <img src="/img/info-small.png" style="border:0"></a>
                            </td>
                            <td>{{ Item.side | raw }}</td>
                            <td>{{ Item.fit | raw }}</td>
                            <td>

                                {% if Item.price == null %}
                                    <span class="item{{ Item.id }}price pricef">0 грн</span>
                                {% elseif Item.price | money_as_float == 0 %}
                                    <span class="item{{ Item.id }}price pricef">0 грн</span>
                                {% else %}
                                    <span class="price-percent">{{ ((Item.price| money_convert("UAH") | money_as_float) / ((100 - percent)/100))|round(2, 'common')|replace({'.': ","}) }} грн</span><br/>
                                    <span class="item{{ Item.id }}price pricef">{{ Item.price | money_convert("UAH") | money_format |replace({'UAH': "грн"}) }}
                                        за шт.</span>
                                {% endif %}

                                {% if Item.itemIs == 0 %}
                                    <br/>Під замовлення
                                {% else %}
                                    <br/>В наявності
                                {% endif %}

                                <br/><span style="font-size: 8pt;cursor:pointer;" class="to_order_a gold"
                                           val="item{{ Item.id }}">ЗАМОВИТИ</span>
                            </td>
                            <td>

                                <a href="#" class="item_dialog" val="item{{ Item.id }}"
                                   title="&lt;img src=&#39;/img/upload/{{ Item.img }}&#39; class=&#39;img_big&#39;&gt;{{ Item.imgData }}">
                                    <img src="/img/camera.png"></a>
                                <br/><span style="font-size: 8pt;cursor:pointer;" class="to_3D gold"
                                           val="{{ Item.itemId }}">Переглянути 3-D фото</span>
                                <div class="item{{ Item.id }}i" style="display:none;">
                                    <img src="/img/upload/{{ Item.img }}" class="img_big">
                                    {{ Item.imgData | raw }}
                                </div>
                                <div class="item{{ Item.id }}t" style="display:none;">
                                    {{ Item.imgData | raw }}
                                </div>

                            </td>

                            <td>
                                {% if Item.acsesorisId != null and  Item.acsesorisId|length > 0 %}

                                    <span class="item{{ Item.id }}code2">{{ Item.acsesorisId | raw }}</span>
                                    <br/>
                                    <a href="#"
                                       title="&lt;img src=&#39;/img/upload/{{ Item.acsesorisImg }}&#39; class=&#39;img_big&#39;&gt;{{ Item.acsesorisImgData }}">
                                        <img src="/img/camera.png" style="width: 30px"></a>
                                    <br/>

                                    {% if Item.acsesorisPrice == null %}
                                        <span class="item{{ Item.id }}price2 pricef">0 грн</span>
                                    {% elseif Item.acsesorisPrice | money_as_float == 0 %}
                                        <span class="item{{ Item.id }}price2 pricef">0 грн</span>
                                    {% else %}
                                        <span class="price-percent">{{ ((Item.acsesorisPrice| money_convert("UAH") | money_as_float) / ((100 - percent)/100))|round(2, 'common')|replace({'.': ","}) }} грн</span><br/>
                                        <span class="item{{ Item.id }}price2 pricef">
                                            {{ Item.acsesorisPrice | money_convert("UAH") | money_format |replace({'UAH': "грн"}) }}
                                            за шт.
                                        </span>
                                    {% endif %}

                                    {% if Item.acsesoriIs == 0 %}
                                        <br/>Під замовлення
                                    {% else %}
                                        <br/>В наявності
                                    {% endif %}

                                    <br/>
                                    <span style="font-size: 8pt;cursor:pointer;" class="to_order_a2 gold"
                                          val="item{{ Item.id }}">ЗАМОВИТИ</span>

                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6" class="item_element">
                                <div class="showApplication item_on">Дисплей додаткових додатків</div>
                                <div class="showApplication item_off" style="display:none;">Приховати</div>
                                <div style="display:none;" class="item_info item{{ Item.id }}">
                                    {{ Item.details | raw }}
                                </div>
                                <hr>
                            </td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>

                <br/>
                <div class="navigation">
                    {{ knp_pagination_render(ItemsArray) }}
                </div><br/>

            {% endif %}

            <!-- ui-dialog -->
            <div id="dialog" title="Dialog Title">
                <table style="width:100%">
                    <tr>
                        <th>
                            <div id="dialog_data" style="width: 650px">dialog data</div>
                        </th>
                        <th>
                            <div id="dialog_img" style="width: 500px">dialog img</div>
                        </th>
                    </tr>
                </table>
            </div>

        </center>
        <br><br>

        <!-- ui-dialog to_order -->
        <div id="dialog_to_order" title="ЗАМОВИТИ ТОВАР" style="display: none">

            <form onsubmit="return false" id="registerOrderForm">
                Ваше ім'я:<br/>
                <input id="call_name_oder" maxlength="30" name="call_name_oder" class="call-input" value=""
                       type="text"/><br/>

                Телефон:<br/>
                <input id="call_mob_oder" maxlength="14" name="call_mob_oder" class="call-input required" value=""
                       type="text" data-msg="Поле Телефон обов'язкове."/><br/>

                <br/>Товар: <span id="diloge_oder_code"></span>

                <br/>Ціна: <span id="diloge_oder_price"></span><br/>

            </form>
        </div>
        <div id="dialog_to_order_ok" title="Повідомлення відправлено" style="display: none">
            <p>Повідомлення відправлено !<br/>
                Cкоро ми вам зателефонуємо !
            </p>
        </div>

        <div id="dialog_to_3D" title="Переглянути 3-D фото" style="display: none">
            <iframe src="" width="810" height="420" align="left" id="3d-frame" val="">
                Ваш браузер не підтримує плаваючі фрейми!
            </iframe>
        </div>

    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {

            $("#registerOrderForm").validate();

            $("#dialog_to_order").dialog({
                autoOpen: false,
                width: 400,
                buttons: {
                    "Відправити": function () {
                        if ($("#registerOrderForm").valid()) {

                            $("#dialog_to_order").dialog("close");

                            $.ajax({
                                method: "GET",
                                url: "/oderemale",
                                data: {
                                    call_name: $("#call_name_oder").val(),
                                    call_mob: $("#call_mob_oder").val(),
                                    oder_code: $("#diloge_oder_code").html(),
                                    oder_price: $("#diloge_oder_price").html()
                                }
                            })
                                .done(function (msg) {
                                    var data = eval('(' + msg + ')');
                                    if (data.Result) {
                                        $("#dialog_to_order_ok").dialog();

                                        //alert(data.Result);     
                                    }
                                });
                        }
                    }
                }
            });

            $("#dialog_to_3D").dialog({
                autoOpen: false,
                width: 850,
                height: 500
            });

            $(".to_3D").click(function () {
                var id = $(this).attr('val');
                //alert(id);

                //$("#3d-frame").attr('val', id);
                $("#3d-frame").attr('src', 'http://s0.nt.gh-parts.eu/360/' + id + '/index.html');

                $.ajax({
                    url: 'http://s0.nt.gh-parts.eu/360/' + id + '/index.html',
                    dataType: "jsonp",
                    timeout: 5000,

                    success: function () {
                        //alert('1');
                    },
                    error: function (parsedjson) {
                        if(parsedjson.status == "200") {
                            //alert('2');
                        } else {
                            // Handle error
                            $("#3d-frame").attr('src', "/img/upload/" + id + ".jpg");
                        }
                    }
                });

                $(".ui-dialog-title").html("Переглянути 3-D фото");
                $("#dialog_to_3D").dialog("open");

                /*
                                $("#diloge_oder_price").html(html3);

                                */
                return false;
            });

            $(".to_order_a").click(function () {
                var id = $(this).attr('val');
                //alert(id);

                var html2 = $("." + id + "code").html();
                var html3 = $("." + id + "price").html();

                $(".ui-dialog-title").html("ЗАМОВИТИ ТОВАР");
                $("#diloge_oder_code").html(html2);
                $("#diloge_oder_price").html(html3);

                $("#dialog_to_order").dialog("open");
                return false;
            });

            $(".to_order_a2").click(function () {
                var id = $(this).attr('val');
                //alert(id);

                var html2 = $("." + id + "code2").html();
                var html3 = $("." + id + "price2").html();

                $(".ui-dialog-title").html("ЗАМОВИТИ ТОВАР");
                $("#diloge_oder_code").html(html2);
                $("#diloge_oder_price").html(html3);

                $("#dialog_to_order").dialog("open");
                return false;
            });

            $("#call_mob_oder").mask("(999) 999-9999");

            //=====================================================

            $("#serch_btn").click(function () {
                $("#form_serch").submit();
            });

            $("#dialog").dialog({
                autoOpen: false,
                width: 1200,
                buttons: []
            });

            $(".item_dialog").each(function () {
                $(this).click(function () {
                    var id = $(this).attr('val');

                    var html = $("." + id).html();
                    var html2 = $("." + id + "i").html();
                    var html3 = $("." + id + "t").html();

                    $("#dialog_data").html(html);
                    $("#dialog_img").html(html2);

                    $(".ui-dialog-title").html(html3);

                    $("#dialog").dialog("open");

                    return false;
                });
            });

            $("#mid").change(function () {
                $("#aid").val(0);
                $("#did").val(0);
                $("#form_item").submit();
            });

            $("#aid").change(function () {
                $("#did").val(0);
                $("#form_item").submit();
            });

            $("#did, #s1, #s2, #t1, #t2, #t3").change(function () {
                $("#form_item").submit();
            });

            $("#si1").click(function () {
                $('#s1').prop('checked', !$('#s1').prop('checked'));
                $("#form_item").submit();
            });

            $("#si2").click(function () {
                $('#s2').prop('checked', !$('#s2').prop('checked'));
                $("#form_item").submit();
            });

            $("#ti1").click(function () {
                $('#t1').prop('checked', !$('#t1').prop('checked'));
                $("#form_item").submit();
            });

            $("#ti2").click(function () {
                $('#t2').prop('checked', !$('#t2').prop('checked'));
                $("#form_item").submit();
            });

            $("#ti3").click(function () {
                $('#t3').prop('checked', !$('#t3').prop('checked'));
                $("#form_item").submit();
            });

            $(".item_element").each(function () {

                var obj = $(this);

                obj.find(".item_on").click(function () {
                    $(this).css("display", "none");
                    obj.find(".item_off").css("display", "block");
                    obj.find(".item_info").css("display", "block");

                });

                obj.find(".item_off").click(function () {
                    $(this).css("display", "none");
                    obj.find(".item_on").css("display", "block");
                    obj.find(".item_info").css("display", "none");
                });

            });

        });
    </script>
{% endblock %}